<h2 id="title">My App</h2>

{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'products'}}Products{{/link-to}}

<div>
	<h2>Cart</h2>

	<ul>
		{{#each items as |item index|}}
			<li>
				({{item.quantity}}) {{item.profile.firstname}} {{item.profile.lastname}}
				<button {{action 'addOne' index}}>+</button>
			</li>
		{{else}}
			<li>Nothing in cart</li>
		{{/each}}
	</ul>

</div>


{{outlet}}